html {
    box-sizing: border-box;

}


*,
*::before,
*::after {
    box-sizing: inherit;
}


:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #ffffff;
    --secondary-background-color: #F5F4FA;
}




body{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

    font-size: 16px;
    line-height: 1.19;

    background-color: var(--background-color);
}

.list {
    list-style: none;
    text-decoration: none ;
    padding: 0px;
    margin: 0px;
  }


/* site nav */

.site-nav{
    color: var(--primary-text-color);
    display: flex;
    
}

.item-nav {
    
    padding: 0px;
    margin-left: 80px;
    /* margin-right: 334px; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.site-nav .item-nav {

    display: flex;
    list-style: none;
    text-decoration: none ;
}

.item-nav .item-nav-li{
    margin-right: 50px;
    
    padding-top: 32px;
    padding-bottom: 32px;

}

.item-nav .item-nav-li-right{
    margin-right: 0px;
}

.site-nav .link{

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    /* display: block;
    padding-top: 21px;
    padding-bottom: 21px; */
    
}

.accent-logo{

    color: var(--accent-color);
}
.logo{

    color: var(--title-text-color);

    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    margin-top: 25px;
    margin-bottom: 25px;

}

.site-nav .logo:hover,
.site-nav .logo:focus {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {

    color: var(--accent-color);
}

.site-nav .contacts:hover,
.site-nav .contacts:focus {

    color: var(--accent-color);
}

.site-nav .contacts {
  
font-weight: 500;
font-size: 14px;
line-height: 1.14;

}

.contacts-display{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
}

.contacts-display .contacts-display-li{
margin-right: 30px;

}

/* section */

.section.hero{
    padding-bottom: 10px;
}



.names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-top: 30px;
    margin-bottom: 10px;
}

.our-team {
    background-color: var(--secondary-background-color);
}

.section .hero-title {

margin-top: 0px;
margin-bottom: 40px;


font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;

text-align: center;
text-transform: uppercase;
}

.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    text-align: center;
    margin-top: 0px;
    margin-bottom: 94px;
    

}

.section .text {
color: var(--primary-text-color);

font-size: 16px;
line-height: 1.18;

}


/* benefits */

.benefits-list{

    margin-bottom: 94px;
    
     
    width: calc((100% - 3*29px) / 3);
    margin-right: 30px;
        
          
}

.benefits-list:nth-child(4n) {
        margin-right: 0px;
    
      }


.benefits {
    color: var(--title-text-color);
    display: flex;
    
    
    
}

.benefits .benefits-title {
    
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;

margin-bottom: 10px;
margin-top: 0px;

}

.benefits .text {
    display: inline;
    
font-size: 14px;
line-height: 1.71px;
margin: 0px;





}

.benefits-img{
    
    margin-bottom: 55px;
   
}



/* works */


.section.hero {
    text-align: center;
}


.section .works-title{
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
}


/* social links */

.social-links{

    list-style: none;
    text-decoration: none ;
   
}

.social-links:hover,
.social-links:focus{
    list-style: none;
    text-decoration: none ;

    color: var(--accent-color);
}

/* button */
.button {
    
    color: var(--title-text-color);
    background-color: var(--primary-white-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    text-decoration: none;

    padding: 11px 32px;
    min-width: 200px;
    min-height: 50px;
    text-align: center;
    border-radius: 4px;
  }
  
  .button.primary {
    color: var(--background-color);
    background-color: var(--accent-color);
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 11px 32px;
    text-align: center;
    margin-bottom: 200px;
    
    
  }

 
  
  .button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    text-decoration: none;
    padding: 11px 32px;
    
  }

  

  .button-portfolio .button-secondary:hover,
  .button-portfolio .button-secondary:focus {

    color: #212121;
  }
 
 .button-portfolio {
    display: flex;
    align-self: center;
}

 

  /* footer */

  .footer-logo {
    font-family: Raleway;

    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;

    margin-bottom: 10px;

    

  }

  .footer-address {
    font-style: normal;
    font-weight: normal;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
   margin-bottom: 10px;
}

.footer-address-div{
    margin-top: 48px;
    margin-bottom: 88px;
    
}


.footer-contacts{
     

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

}

.footer-email {
    margin-bottom: 10px;
}

.call-to-action {
  

font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;

}


 /* css for portfolio */

 .title-portfolio {

    color: var(--title-text-color);
  }

  .text-portfolio {
      color: var(--primary-text-color);
  }

  

  .example .link:hover,
  .example .link:focus {

    color: var(--accent-color);
  }

  .portfolio-ul{
      display: flex;
      flex-wrap: wrap;
      color: grey;
      padding-left: 0px;
      
  }

  .example {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .example:nth-child(3n) {
    margin-right: 0px;

  }
  .example:nth-last-child(-n + 3){
      margin-bottom: 0px;
  }

  
  .container-example-of-work{
      display: block;
  }
 
  

  /* container of header */

  .container {
   
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid orange;
  }


   .color-container-portfolio {

    background-color:grey;
   }


  

  

  .about-our-work-ul{
      display: flex;
      
        
        
      }

      .about-our-work-li{
        flex-wrap: wrap;
          
        width: calc((100% - 2*30px) / 3);
        margin-right: 30px;
        margin-bottom: 94px;

      }
    
      .about-our-work-li:nth-child(3n) {
        margin-right: 0px;
    
      }
     
  


  .our-team-flex{

    display: flex;
  }

  .our-team-flex-li{
    flex-wrap: wrap;
          
    width: calc((100% - 3*30px) / 4);
    margin-right: 30px;
    margin-bottom: 94px;
    
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

  }

  .our-team-flex-li:nth-child(4n) {
    margin-right: 0px;
    

  }

  .our-team-flex-li .text{

    margin-bottom: 16px;
    margin-top: 0px;
  }

  .our-team .section-title{
      
      padding-top: 94px;
      padding-bottom: 50px;
      margin-bottom: 0px;
  }

  .our-usual-client-list{

    display: flex;
  }

  .our-usual-client-li{
      flex-wrap: wrap;

      width: calc((100% - 3*30px) / 4);
      margin-right: 30px;

      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    margin-bottom: 94px;
  }

  .our-usual-client-li:nth-child(6n) {
    margin-right: 0px;
    

  }



  .call-to-action-list-flex {
      display: flex;
      flex-direction: column;
  }

  .section-usual-client .section-title{
      padding-top: 94px;
      padding-bottom: 50px;

  }

  .footer-flex{
      display: flex;
      align-items: center;

  }


  .subscript-footer {
      display: inline;
      flex-wrap: wrap;
      flex-direction: column;
      margin-left: auto;
      
      
  }

  .footer-address-div {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 180px;
    
  }






  .foter-go-it-text{
      margin: 0px;
      padding-bottom: 20px;
      margin-left: 475px;
      margin-right:auto;
      
  }